@model AuthorModel
@{
    ViewBag.Title = "Edit author info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditAuthorInfo</h2>
<div class="row">
    <section>
        @using (Html.BeginForm("EditAuthorInfo", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Name)
            <hr />
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Mobile, new { @class = "col-md-2 control-label" })
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                <div class="col-md-6">
                    @Html.TextAreaFor(m => m.Description, new { @class = "tinymce-text-area", rows = "13" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ImagePath, new { @class = "col-md-2 control-label" })
                <div class="col-md-6">
                    <img src="@(Model.ImagePath != null ? Url.Content(ImageFactory.GetFilePath(Model.ImagePath)) : Url.Content("~/Content/Images/noImage.jpg"))" width="200" />
                    <!-- set hidden value for to fill the model -->
                    @Html.HiddenFor(m => m.ImagePath)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Set new image", new { @class = "col-md-2 control-label" })
                <div class="col-md-6">
                    <input type="file" name="file" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-6">
                    <input type="submit" value="Edit" class="btn btn-default" />
                </div>
            </div>
        }
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}